/* Dark mode styles */

:root {
    /* Should make it easier to change colors in the future */
    --text: #e4e4e4;
    --background: #1b1b1b;

    --button-hover: black;
    --button-selected: #232e51;
    --fieldset-color: #2a2a2a;

    --column-1: #2a2a2a;
}

html, body {
    color: var(--text);
    background-color: var(--background);
    color-scheme: dark;
}

fieldset {
    width: 100%;
}

input {
    width: 100%;
    background-color: var(--background);
    color: var(--text);
    margin: 0px 0px 0px auto;
}

input.btn {
    display: block;
    margin: 20px auto 0px;
    width: max-content;
    padding: 10px 20px;
    color: white;
    background-color: rgb(59, 59, 59);
}

label {
    padding: 5px;
}
